@import "../../../scss/global.scss";

.custom-control-input:checked ~ .radio-orange::before {
  background-color: $firstView-primary !important;
  border-color: $firstView-primary !important;
}

.input-text-grey {
  color: $firstView-text-input !important;
}
