@import "../../scss/global.scss";

.center {
    margin: 15vh auto;
}

.activeLink {
    cursor: pointer;
    color: $firstView-primary;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: $firstView-primary-darken;
        transition: all 0.2s ease-in-out;
    }
}

.white {
    color: white;
}


.pay-col .card {
    min-width: 100%;
    min-height: 30vh;
}

.list-header {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(134, 125, 125);
    text-shadow: 0px 1px 2px #555;
}

.list-item-text {
    text-align: center;
    padding-bottom: 5vh;
    padding-top: 10vh;
}

.list-item {
    text-align: center;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.title {
    margin-top: 3vh;
    text-align: center;
}
.logo {
    width: 100%;
}
.padd {
    padding: 0;
}
.content {
    display: flex;
    flex-wrap: wrap;
}