.MainContent {
    padding-top: 10vh;
    padding-bottom: 10vh;

    min-height: 100vh;
    background: url(../../assets/firstView-background.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
}

.no-margin-form {
    
}