.mainView {
  min-height: 100vh;
  width: 100vw;
  background-image: url(../../assets/firstView-background.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  .card-deck {
    flex-grow: 1;
    min-width: 630px;
    max-width: 80vw;
  }
}

.avatar-name-display {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 50px;
  }
}

.card {
  min-width: 0%;
}
