@import "../../../scss/global.scss";

.center {
  margin: 15vh auto;
}

.activeLink {
  cursor: pointer;
  color: $firstView-primary;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $firstView-primary-darken;
    transition: all 0.2s ease-in-out;
  }
}

.white {
  color: white;
}

.col {
  display: flex;
  justify-content: center;
}
.col .card {
  min-width: 15vw;
  min-height: 30vh;
}