$firstView-primary: #ff5722;
$firstView-primary-darken: darken($firstView-primary, 20%);
$firstView-text-input: #757575;

$white-transparent: rgba(255,255,255, .2);
$white-transparent-active: rgba(255,255,255, .5);
